<div class="search">
  <div class="button-row">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Type here to search..." (keyup)="searchFieldKeyUp($event)">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" (click)="searchButtonClicked()">Search</button>
      <button type="button" class="btn btn-outline-primary" (click)="clearSearch()">Clear</button>
    </div>
  </div>
</div>

<div class="user-list-container">
  <table mat-table [dataSource]="stories" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let story"> {{ story.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let story"> {{ story.title }} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef> By </th>
      <td mat-cell *matCellDef="let story"> {{ story.by }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="totalStories()"
                 [pageIndex]="pageIndex()"
                 [pageSize]="pageSize()"
                 [pageSizeOptions]="[10, 15, 20, 25]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
