.user-list-container {
  margin: 20px;
}

table {
  width: 100%;
}

.news-icon-row {
  position: relative;
  flex-direction: row;
}

.news-item-grade {
  justify-content: right;
  text-align: right;
}

mat-paginator {
  background-color: #DBDBDB;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

  /* ---------- */
  /*src/app/news-app/news-app.component.css*/

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 30px;
}

button {
  height: 30px;
  margin-left: 10px;
}

.news-app-container {
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.news-item {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

  .news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

.news-content {
  padding: 15px;
  text-align: left;
}

.news-title {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.news-author {
  font-size: 15px;
  margin-bottom: 10px;
  color: #4F4F4F;
}

.news-text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
}

.news-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

  .news-link:hover {
    text-decoration: underline;
  }
