name: Backend Build

on:
  push:
    branches: ["master", "staging", "production"]
  pull_request:
    branches: ["master", "staging", "production"]

jobs:
  backend:
    name: Backend Build and Unit Tests

    runs-on: ubuntu-latest

    steps:

      - name: Checkout the Source Code
        uses: actions/checkout@v4

      - name: Set Up .NET 9
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'

      - name: Restore Dependencies
        run: dotnet restore HackerNewsFeed.sln
 
      - name: Build Solution
        run: dotnet build HackerNewsFeed.sln --configuration Release --no-restore
 
      - name: Unit Tests with Report
        run: dotnet test tests/HackerNewsService.Test/NewsService.Test.csproj --configuration Release --no-build --logger:"console;verbosity=detailed"

      - name: Integration Tests
        run: dotnet test tests/HackerNewsFeed.Server.IntegrationTest/HackerNewsFeed.Server.IntegrationTest.csproj --configuration Release --no-build --logger:"console;verbosity=detailed"
