name: Angular Build

on:
  push:
    branches: ["master", "staging", "production"]
  pull_request:
    branches: ["master", "staging", "production"]

jobs:
  build:
    name: Angular Build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22]

    steps:

      - name: Checkout the source code
        uses: actions/checkout@v3
  
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: src/ui/hackernewsfeed.client/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: src/ui/hackernewsfeed.client

      - name: Run Tests
        run: npm run test:ci
        working-directory: src/ui/hackernewsfeed.client

      - name: Build
        run: npm run build
        working-directory: src/ui/hackernewsfeed.client

